<h1>Web Site Links</h1>

<% if current_user == @link_item.user %>
  <%= link_to 'Add new link', new_media_item_link_path(@link_item),
                              class: 'btn btn-default btn-sm' %> |
  <%= link_to 'Edit item', edit_link_item_path(@link_item),
                           class: 'btn btn-default btn-sm' %> |
<% end %>
<%= link_to 'Back', media_items_path,
                    class: 'btn btn-default btn-sm' %>

<ul>
  <li><strong>Owner:</strong><%= @link_item.user.name %></li>
  <li><strong>Title:</strong><%= @link_item.title %></li>
  <li><strong>Description:</strong><%= @link_item.description %></li>
  <li><strong>Created at:</strong><%= @link_item.created_at %></li>
  <li><strong>Updated at:</strong><%= @link_item.updated_at %></li>
</ul>

<% if @link_item.has_links? %>
  <h3>Web Sites:</h3>
  <% if @link_item.is_owner? current_user %>
    <%= render 'list_links_owner' %>
  <% else %>
    <%= render 'list_links_non_owner' %>
  <% end %>
<% else %>
  <div class="alert-info">
    No links are stored yet
  </div>
<% end %>
