<h1>Web Site Links</h1>

<%= link_to 'Add new link', new_media_item_link_path(@item) %> |
<%= link_to 'Edit item', edit_link_item_path(@item) %>

<ul>
  <li><strong>Owner:</strong><%= @item.user.name %></li>
  <li><strong>Title:</strong><%= @item.title %></li>
  <li><strong>Description:</strong><%= @item.description %></li>
  <li><strong>Created at:</strong><%= @item.created_at %></li>
  <li><strong>Updated at:</strong><%= @item.updated_at %></li>
</ul>

<% if @item.has_links? %>
  <h3>Web Sites:</h3>
  <ul>
    <% @item.links.each do |link| %>
      <li><%= link_to link.url, link.url, target: "_blank" %></li>
    <% end %>
  </ul>
<% else %>
  <div class="alert-info">
    No links are stored yet
  </div>
<% end %>
